# Frontend
VITE_API_BASE=http://localhost:8787
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_MAPTILER_KEY=
VITE_MAPTILER_STYLE_LIGHT=streets-v2
VITE_MAPTILER_STYLE_DARK=streets-v2
VITE_MAPTILER_STYLE_SATELLITE=hybrid-v4

# Backend
PORT=8787
UNSPLASH_ACCESS_KEY=
ALLOWED_ORIGINS=http://localhost:5173
